:root {
  /* this has to be set to switch between light or dark */
  color-scheme: light dark;

  --light-bg: #e0e0e0;
  --light-color: #121212;

  --dark-bg: #121212;       /* very dark gray / almost black */
  --dark-color: #e0e0e0;    /* light gray text */
}

nav {
    margin: 0;
    padding: 0.5rem 1rem; /* adjust as needed */
    background-color: light-dark(var(--light-bg), var(--dark-bg));
}

.nav-link {
    color: light-dark(var(--light-color), var(--dark-color)) !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-color), var(--dark-color));
}

select.form-select {
    color: light-dark(var(--light-color), var(--dark-color));
    background-color: light-dark(var(--light-bg), var(--dark-bg));
}

p {
    margin-bottom: 0;
}

.table {
    color: light-dark(var(--light-color), var(--dark-color));
    background-color: light-dark(var(--light-bg), var(--dark-bg));
}